.logos{
    width: 80%;
    height: 100px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    &__logo{
        width: 17%;
        height: 125px;
        padding: 30px;
        border: 1px solid rgba(0, 0, 0, 0.349);
        img{
            width: 100%;
        }
    }
}
.insurance{
    margin-top:50px ;
}
